<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HeaterGpioID" value="16"/> <!-- GPIO output pin for heating -->
		<add key="MeasureInterval" value="3"/> <!-- measuring interval in minutes -->
		<add key="MaxHeatingTemp" value="15"/> <!-- maximum temperature above which heating must be stopped -->
		
		<add key="WeatherDatasPath" value="/var/www/html/datas/weatherdatas.csv"/>
		<add key="CloudWatcherDatasFilePath" value="/var/www/html/datas/cloudWatchdatas.csv"/>
		<add key="SkyQualityDatasFilePath" value="/var/www/html/datas/skyQualitydatas.csv"/>
		<add key="DatasHistoryFilePath" value="/var/www/html/datas/allSkyDatas.json"/>
		<add key="DbConnectionString" value="/var/www/html/datas/allSkyDatas.db"/>
		<add key="AllSkyWebUIDatasFilePath" value="/var/www/html/datas/AllSkyWebUI.txt"/>
		<add key="AllSkyDatasFilePath" value="/var/www/html/datas/allSkyDatas.txt"/>

		<add key="ApiAccessUrl" value="http://HyperRedAllSkyCam.local:4242"/>
		<add key="LogFilePath" value="/var/log/allSkyDatas.log"/>
		<add key="Debug" value="true"/>

		<add key="SiteCoords" value="48.6373029,1.8256994,168"/>

		<add key="TemperatureCorrectionCoef" value="1.534"/>
		<add key="HumidityCorrectionCoef" value="0.835"/>
		<add key="PressureCorrectionCoef" value="0.9958"/>
		<!--<add key="SqmCorrectionCoef" value="0.7737"/>-->
		<add key="SqmCorrectionCoef" value="0.855"/>
	</appSettings>
</configuration>