<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HeaterGpioID" value="18"/> <!-- GPIO output pin for heating -->
		<add key="Fan1GpioID" value="5"/> <!-- GPIO output pin for first fan -->
		<add key="Fan2GpioID" value="6"/> <!-- GPIO output pin for second fan -->
		<add key="MeasureInterval" value="3"/> <!-- measuring interval in minutes -->
		<add key="MaxHeatingTemp" value="20"/> <!-- maximum temperature above which heating must be stopped -->
		<add key="HeatingTime" value="10"/> <!-- Heating time in minutes-->
		<add key="WeatherDatasPath" value="/var/www/html/datas/weatherdatas.csv"/>
		<add key="CloudWatcherDatasFilePath" value="/var/www/html/datas/cloudWatchdatas.csv"/>
		<add key="DatasHistoryFilePath" value="/var/www/html/datas/allSkyDatas.json"/>
		<add key="DbConnectionString" value="/var/www/html/datas/allSkyDatas.db"/>
		<add key="ApiAccessUrl" value="http://AllSkyMini.local:4242"/>
		<add key="Debug" value="true"/>
	</appSettings>
</configuration>