<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HeaterGpioID" value="24"/> <!-- GPIO output pin for heating -->
		<add key="MeasureInterval" value="3"/> <!-- measuring interval in minutes -->
		<add key="MaxHeatingTemp" value="15"/> <!-- maximum temperature above which heating must be stopped -->
		<add key="WeatherDatasPath" value="/var/www/html/datas/weatherdatas.csv"/>
		<add key="CloudWatcherDatasFilePath" value="/var/www/html/datas/cloudWatchdatas.csv"/>
		<add key="SkyQualityDatasFilePath" value="/var/www/html/datas/skyQualitydatas.csv"/>
		<add key="DatasHistoryFilePath" value="/var/www/html/datas/allSkyDatas.json"/>
		<add key="DbConnectionString" value="/var/www/html/datas/allSkyDatas.db"/>
		<add key="ApiAccessUrl" value="http://HyperRedAllSkyCam.local:4242"/>
		<add key="Debug" value="true"/>
		<!--<add key="TemperatureCorrectionCoef" value="1.09373"/>
		<add key="HumidityCorrectionCoef" value="1.0367"/>
		<add key="PressureCorrectionCoef" value="0.996"/>
		<add key="SqmCorrectionCoef" value="0.76"/>
		<add key="CloudTemperatureCoef" value="0.005"/>-->
		<add key="TemperatureCorrectionCoef" value="1.0601"/>
		<add key="HumidityCorrectionCoef" value="0.5681"/>
		<add key="PressureCorrectionCoef" value="0.9832"/>
		<add key="SqmCorrectionCoef" value="0.76"/>
		<add key="CloudTemperatureCoef" value="1"/>
	</appSettings>
</configuration>